/* produtosComponent's private CSS styles */

.produtos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 30em;
}
.produtos li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.produtos li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.produtos li.selected {
  background-color: #CFD8DC;
  color: white;
}
.produtos li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.botao {
  margin-left: 1em;
}