.produtos {
  margin: 5em auto;
  list-style-type: none;  
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content:space-evenly;
  align-items: center;
}
li {
  margin: 1em 2em;
  padding: .5em .8em;
  width: 20em;
  height: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
}
a {  
  text-decoration: none;   
  border-radius: 4px;
  font-size: 1.5em;  
}
a:visited, a:link {
  color: #334953;
}
a:hover {
  color: #039be5;  
}
a.active {
  color: #039be5;
}
.id {
  
}
.nome {
  margin-left: 1.25em;
}