
<!-- Formulario dos produtos  -->
<h2>Produtos</h2>

<ul class="produtos">
  <li *ngFor="let produto of produtos"  
    [class.selected]="produto === selectedProduto"
    (click)="onSelect(produto)">    
    <span class="botao">Id: {{ produto.id }}</span>
    <span class="botao">Nome: {{ produto.nome }}</span>    
  </li>
</ul>

<div *ngIf="selectedProduto">

  <h2>{{selectedProduto.name | uppercase}} Detalhes</h2>
  <div><span>Id: </span>{{ selectedProduto.id }}</div>
  <div><span>Data Validade </span>{{ selectedProduto.datavalidade }}</div>
  
  <div>
    <label>
      Nome    
      <input [(ngModel)]="selectedProduto.nome" placeholder="nome">
    </label>
    <label>
      Sabor
      <input [(ngModel)]="selectedProduto.sabor" placeholder="sabor">
    </label>
    <label>
      Quantidade
      <input [(ngModel)]="selectedProduto.quantidade" placeholder="quantidade">
    </label>
    <label>
      Data Validade    
      <input [(ngModel)]="selectedProduto.datavalidade" placeholder="01/12/2022">    
    </label>
    <label>
      Data Entrada    
      <input [(ngModel)]="selectedProduto.dataentrada" placeholder="01/12/2020">    
    </label>
  </div>

</div>
