* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    width: 100%;    
    height: 12vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;        
    list-style: none;    
  }

.nav-item {
    padding: 20px;
  }

.nav-link {
    color: #ffffff;
    font-size: 2rem;
    outline: none;
    text-decoration: none    
  }

.nav-link:hover {
    color: #da1e37;
    transition: color .4s
  }  
