
span {
  color: crimson;
  font-family: inherit;
  font-size: 2em;
  font-weight: lighter;
  margin-left: 2.5em;
  margin-right: 2em;
}
button.clear {
  display: inline-flex;
  font-family: inherit;
  font-size: 1.5em;
  color: #333;
  background-color: #eee;  
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
.container {
  width: 100%;
  margin: 2em auto; 
  padding-top: 1em;
  padding-bottom: 5em; 
  background-color: #fdfffc;
}
.mensagens {
  margin-left: 3em;
  font-size: 1.6em;  
  color: black;
}