
span {
  color: crimson;
  font-family: Arial;
  font-size: 1.5em;
  font-weight: lighter;
  margin-right: 2em;
}
button.clear {
  display: inline-flex;
  font-family: Arial;
  font-size: 1.5em;
  color: #333;
  background-color: #eee;  
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
.container {
  width: 60em;
  margin: 5em auto;  
}
.mensagens {
  font-size: 1.2em;
  color: black;
}