.container {
  width: auto;
  background: url('./../assets/images/5.png');
  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
  height: 42em;  
}

a {
  color: #ffffff
}