nav {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;  
}

.footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; 
}

a {
  font-size: 1.5em;
  text-align: center;
}