<!-- Cardapium -->

<nav>
  <a routerLink="">Home</a>
  <a routerLink="/produtos">Produtos</a>    
  <a routerLink="/clientes">Clientes</a>      
</nav>

<router-outlet></router-outlet>
<app-mensagens></app-mensagens>


<div class="footer">
  <a href="https://github.com/shemuelx/cardapium" target="_blank"> 
    <img src="./../assets/images/link.png" alt="Lista Produtos"/> 
  </a>  
  <a href="https://totidiversidade.com.br/" target="_blank"> 
    <img src="./../assets/images/user.png" alt="Lista Clientes"/> 
  </a>  
  <a href="https://brazil.iom.int/" target="_blank"> 
    <img src="./../assets/images/location.png" alt="Procurar Endereço"/> 
  </a>          
</div>
