
:host {
  display: flex;
  flex-direction: column;
  padding-top: 24px;  
}
h2 {  
  font-size: 2em;      
}
.form {
  margin-left: 15em;
}
label {
  display: block;
  width: 10em;
  margin: .5em 0;
  color: #000000;
  font-weight: bold;
}

input {
  height: 2em;
  width: 15em;
  font-size: 1em;
  padding-left: .4em;
}

button { 
  margin-left: 5em;   
  background-color: #eee;    
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

