
<div *ngIf="produto" class="container">  
  <div class="form">
    <h2>Detalhes {{produto.nome | uppercase}}</h2>    
    <label>
      Nome    
      <input [(ngModel)]="produto.nome" placeholder="nome">
    </label>
    <label>
      Sabor
      <input [(ngModel)]="produto.sabor" placeholder="sabor">
    </label>
    <label>
      Quantidade
      <input [(ngModel)]="produto.quantidade" placeholder="quantidade">
    </label>
    <label>
      Data Validade    
      <input [(ngModel)]="produto.datavalidade" placeholder="01/12/2022">    
    </label>
    <label>
      Data Entrada    
      <input [(ngModel)]="produto.dataentrada" placeholder="01/12/2020">    
    </label>
    <button (click)="save()">Enviar</button>
    <button (click)="goBack()">Voltar</button>
  </div>
  
</div>

