
<!-- Formulario dos clientes  -->
<div class="container">
  <form [formGroup]="clientesForm" (ngSubmit)="onSubmit()">
    
    <label>
      Nome
      <input type="text" formControlName="nome" required>
    </label>
    
    <label>
      CPF
      <input type="text" formControlName="cpf" required>
    </label>

    <label>
      Telefone      
      <input type="text" formControlName="telefone" required>
    </label>
    
    <label>
      E-mail      
      <input type="text" formControlName="email" required>
    </label>
    
    <label>
      CEP      
      <input type="text" formControlName="cep" required>
    </label>


    <button type="submit">Enviar</button>    

  </form>

  <p>
    Cliente: {{ clientesForm.value | json }}
  </p>
</div>