<form>
    
    <label for="cliente">Nome</label>
    <input type="text" name="nome-cliente" 
           id="cliente" placeholder="Ze do Caroço"
           required>    
           
    <label for="telefone">Telefone</label>
    <input type="text" name="telefone-cliente"
           id="telefone" minlength="11" maxlength="11"
           placeholder="21 11111 2222"               
           required>

    <label for="email">E-mail</label>
    <input type="email" name="mail-cliente" 
           id="email" placeholder="zezito@caroço.com.br"
           required>
    
    <label for="cep">CEP</label>
    <input type="text" name="cep-cliente" 
           id="cep" minlength="8" maxlength="8"
           placeholder="12345678"
           required>        
    
    <button type="submit">Confirma</button>

  </form>
