
.container {
  width: 100%;
  background-color: #edf2fb;
  padding-top: 2em;
  padding-bottom: 2em;
}
form {
  margin: 3em auto;
  box-sizing: border-box;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;    
  padding-top: 24px;
  font-family: inherit;  
}
  p {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    
  }
  
label {  
  width: 10em;  
  color: #000000;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  
}

input {
  font-family: inherit;
  font-size: 1.2em;  
  width: 20em;
  height: 1.6em;
	border: 1px solid #999;
  border-radius: 0.25em;
}

button {
  margin: 1em 0;
  font-family: inherit;
  font-weight: bolder;
  font-size: 2em;
  color: #333;
  background-color: #eee;  
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}